@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";

/* HANYA ini yang benar untuk Laravel */
@source "../views/**/*.blade.php";
@source "../js/**/*.js";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
